<%= form_with(model: [@project, project_update], class: "contents", params: {project_id:@project.id}) do |form| %>
  <% if project_update.errors.any? %>
    <div
      id="error_explanation"
      class="bg-inverse text-error px-3 py-2 font-medium rounded-lg mt-3"
    >
      <h2><%= pluralize(project_update.errors.count, "error") %>
        prohibited this project_update from being saved:</h2>

      <ul>
        <% project_update.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section
    class="
      bg-inverse
      w-5/6
      md:w-full
      max-w-md
      flex
      flex-col
      justify-center
      mt-6
      mx-auto
    "
  >
    <div class="relative flex items-center mt-4">
      <%= form.label :title, class:"hidden" %>
      <%= form.text_field :title, placeholder: "Title", class:"form-field indent-0" %>
    </div>

    <div class="relative flex items-center mt-4">
      <%= form.label :description, class:"hidden" %>
      <%= form.text_area :description, rows:4, placeholder: "Description", class:"form-field indent-0" %>
    </div>

    <div class="relative flex items-center mt-4">
      <h3 class="mr-3"><%=t'dscpr'%></h3>
      <%= form.label :photo, class:"hidden" %>
      <%= form.file_field :photo, class: "form-field indent-0 text-neutral-light" %>
    </div>

    <div class="relative flex justify-center mt-4">
      <%= form.hidden_field :project_id, value: @project.id %>
      <%= form.submit class: "btn" %>
    </div>
  </section>
<% end %>
