<section id="<%= dom_id project_update %>" class="card h-[400px]">
  <div class="w-1/2 p-4 flex flex-col">
    <h2 class="text-2xl"><%= project_update.title.capitalize %></h2>
    <h3 class="mt-8 mb-2"><%= t 'descrp' %></h3>
    <p>
      <%= project_update.description %>
    </p>
    <h3 class="mt-8 mb-2"><%= t'post' %></h3>
    <p>
      <%= project_update.created_at.strftime("%d/%m/%Y, at %I:%M%p") %>
    </p>
  </div>
  <% if project_update.photo.attached? %>
    <%= image_tag project_update.photo, alt: "Progress picture", class:"w-1/2 object-cover object-center h-[400px]" %>
  <% end %>
</section>
