<section
  class="
    -mt-12
    flex
    w-full
    flex-col
    items-center
    bg-[url('https://images.unsplash.com/photo-1605802447037-d660fc4b2fd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')]
    bg-cover
    bg-center
    p-8
  "
>
  <div class="h-5/6 max-w-xl rounded-lg bg-white/50 p-6 text-center">
    <h2 class="mb-2 font-semibold text-2xl">
      You want to make your first step to a better world?
    </h2>
    <br>
    <p
      class="
        text-skin-base
        font-medium
        tracking-tight
        text-base
        sm:text-lg
        md:text-xl
      "
    >
      We can help you change your purely decorative piece of grass into a very
      useful meadow welcoming a diversified fauna and flora!
    </p>
    <div class="m-8 text-center">
      <div class="w-full">
        <%= link_to "Join us", new_user_registration_path, class: "btn-muted" %>
      </div>
    </div>
    <h1 class="mb-3">Look what species you could grow where you live!</h1>
    <%= render 'layouts/search_bar' %>
  </div>
</section>

<section class="relative mt-8 flex w-9/12">
  <div class="flex flex-col justify-center">
    <h1
      class="
        text-2xl
        font-semibold
        capitalize
        text-gray-800
        lg:text-3xl
        xl:text-4xl
      "
    >
      Our
      <span class="text-skin-title">budding gardeners</span>
      <br>
      projects
    </h1>

    <div
      class="
        mt-8
        grid
        w-full
        grid-cols-1
        gap-8
        md:grid-cols-2
        lg:mt-12
        lg:grid-cols-3
        2xl:grid-cols-4
      "
    >
      <div class="w-full rounded-md bg-white p-8 shadow-lg">
        <%= image_tag 'https://i.pinimg.com/564x/9a/60/03/9a6003c3b3d27e10ec8d51c5f250b652.jpg',
        class:"h-72 w-full mb-4 rounded-lg object-cover object-center" %>
        <div class="-mx-2 mt-6 flex items-center">
          <img
            class="mx-2 h-14 w-14 rounded-full object-cover"
            src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt=""
          />

          <div class="mx-2">
            <p class="text-skin-base text-xl font-semibold drop-shadow">
              Author
            </p>
            <p class="text-skin-base text-sm italic">Publication date</p>
          </div>
        </div>
      </div>

<<<<<<< HEAD
  <section class="relative flex w-9/12 my-3">
    <div class="flex flex-col justify-center min-h-screen">
        <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl xl:text-4xl">
            Our <span class="text-skin-title">budding gardeners</span> <br> projects
        </h1>
=======
      <div class="w-full rounded-md bg-white p-8 shadow-lg">
        <%= image_tag 'https://i.pinimg.com/564x/92/e5/5e/92e55e3c0eff7f7d17e48a9588eeb537.jpg',
        class:"h-72 w-full mb-4 rounded-lg object-cover object-center" %>
>>>>>>> main

        <div class="-mx-2 mt-6 flex items-center">
          <img
            class="mx-2 h-14 w-14 rounded-full object-cover"
            src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=761&q=80"
            alt=""
          />

<<<<<<< HEAD
                <div class="flex items-center mt-6 -mx-2">
                    <%= image_tag 'https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80', class:"object-cover mx-2 rounded-full w-14 h-14" %>

                    <div class="mx-2">
                        <p class="font-semibold text-skin-base text-xl drop-shadow">Author</p>
                        <p class="text-skin-base text-sm italic">Publication date</p>
                    </div>
                </div>
            </div>
=======
          <div class="mx-2">
            <p class="text-skin-base text-xl font-semibold drop-shadow">
              Author
            </p>
            <p class="text-skin-base text-sm italic">Publication date</p>
          </div>
        </div>
      </div>
>>>>>>> main

      <div
        class="
          w-full
          rounded-md
          bg-white
          p-8
          shadow-lg
          md:hidden
          lg:block
        "
      >
        <%= image_tag 'https://i.pinimg.com/564x/08/09/8b/08098bd66d4cc91b44c9ca74ea94f5eb.jpg',
        class:"h-72 w-full mb-4 rounded-lg object-cover object-center" %>

<<<<<<< HEAD
                <div class="flex items-center mt-6 -mx-2">
                    <%= image_tag 'https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=761&q=80', class:"object-cover mx-2 rounded-full w-14 h-14" %>
=======
        <div class="-mx-2 mt-6 flex items-center">
          <img
            class="mx-2 h-14 w-14 rounded-full object-cover"
            src="https://images.unsplash.com/photo-1499470932971-a90681ce8530?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
            alt=""
          />
>>>>>>> main

          <div class="mx-2">
            <p class="text-skin-base text-xl font-semibold drop-shadow">
              Author
            </p>
            <p class="text-skin-base text-sm italic">Publication date</p>
          </div>
        </div>
      </div>

<<<<<<< HEAD
            <div class="w-full p-8 bg-white rounded-md shadow-lg md:hidden lg:block">
                <%= image_tag 'https://i.pinimg.com/564x/08/09/8b/08098bd66d4cc91b44c9ca74ea94f5eb.jpg', class:"h-72 w-full mb-4 rounded-lg object-cover object-center" %>

                <div class="flex items-center mt-6 -mx-2">
                    <%= image_tag 'https://images.unsplash.com/photo-1499470932971-a90681ce8530?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80', class:"object-cover mx-2 rounded-full w-14 h-14" %>
                    <div class="mx-2">
                        <p class="font-semibold text-skin-base text-xl drop-shadow">Author</p>
                        <p class="text-skin-base text-sm italic">Publication date</p>
                    </div>
                </div>
            </div>
=======
      <div
        class="
          w-full
          rounded-md
          bg-white
          p-8
          shadow-lg
          md:hidden
          lg:block
        "
      >
        <%= image_tag 'https://i.pinimg.com/564x/5f/a5/53/5fa55385fb08f84d467ded5d0c4cdf41.jpg',
        class:"h-72 w-full mb-4 rounded-lg object-cover object-center" %>

        <div class="-mx-2 mt-6 flex items-center">
          <img
            class="mx-2 h-14 w-14 rounded-full object-cover"
            src="https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
            alt=""
          />

          <div class="mx-2">
            <p class="text-skin-base text-xl font-semibold drop-shadow">
              Author
            </p>
            <p class="text-skin-base text-sm italic">Publication date</p>
          </div>
>>>>>>> main
        </div>
      </div>
    </div>

<<<<<<< HEAD
        <div class="items-center hidden mt-12 md:flex">
            <button class="p-2 text-gray-800 transition-colors duration-300 border rounded-full rtl:-scale-x-100 hover:bg-gray-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                </svg>
            </button>

            <button class="p-2 text-gray-800 transition-colors duration-300 border rounded-full rtl:-scale-x-100 lg:mx-6 hover:bg-gray-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                </svg>
            </button>
        </div>
=======
    <div class="mt-12 hidden items-center md:flex">
      <button
        class="
          rounded-full
          border
          p-2
          text-gray-800
          transition-colors
          duration-300
          hover:bg-gray-100
          rtl:-scale-x-100
          dark:border-gray-700
          dark:text-gray-200
          dark:hover:bg-gray-800
        "
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"/>
        </svg>
      </button>

      <button
        class="
          rounded-full
          border
          p-2
          text-gray-800
          transition-colors
          duration-300
          hover:bg-gray-100
          rtl:-scale-x-100
          dark:border-gray-700
          dark:text-gray-200
          dark:hover:bg-gray-800
          lg:mx-6
        "
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/>
        </svg>
      </button>
>>>>>>> main
    </div>
  </div>
</section>
