<% if current_user %>

<% else %>
  <section
    class="
      -mt-12
      flex
      w-full
      flex-col
      items-center
      bg-[url('https://images.unsplash.com/photo-1605802447037-d660fc4b2fd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')]
      bg-cover
      bg-center
      p-8
    "
  >
    <div class="h-5/6 max-w-xl rounded-lg bg-white/50 p-6 text-center">
      <h2 class="mb-2 font-semibold text-2xl">
       <%=t'title' %>
      </h2>
      <br>
      <p
        class="
          text-skin-base
          font-medium
          tracking-tight
          text-base
          sm:text-lg
          md:text-xl
        "
      >
        <%= t 'hero' %>
      </p>

      <div class="m-8 text-center">
        <div class="w-full">
          <%= link_to "Join us", new_user_registration_path, class: "btn-muted" %>
        </div>
      </div>
      <h1 class="mb-3">Look what species you could grow where you live!</h1>
      <div class="flex items-center justify-center">
        <%= button_to search_index_path, method: :get, params: {search: 'geoloc'} do %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="
              w-9
              h-9
              mr-2
              sm:mr-6
              -ml-6
              mt-2
              hover:bg-white/50
              hover:rounded-full
            "
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
            />
          </svg>
        <% end %>
        <%= render 'shared/search_bar' %>
      </div>
    </div>
  </section>
<% end %>

<section
  x-data="{
        activeSlide: 1,
        activeSlide: 2,
        activeSlide: 3,
        activeSlide: 4,
        slides: Array.from({ length: <%= @projects.count %> }, (_, i) => i + 1)
      }"
  class="relative mt-8 flex flex-col justify-center w-9/12"
>
    <h1
      class="
        text-2xl
        font-semibold
        capitalize
        text-skin-base
        lg:text-3xl
        xl:text-4xl
      "
    >
      Our
      <span class="text-skin-title">budding gardeners</span>
      <br>
      projects
    </h1>

    <div
      class="
        mt-8
        p-8
        w-full
        flex
        flex-col-6
        justify-center
        items-center
        relative
      "
    >

      <button
        @click="activeSlide = activeSlide === 1 ? slides.length : activeSlide - 1"
        class="
          text-skin-base
          transition-colors
          duration-300
          hover:text-gray-400
          absolute
          left-0
          inset-y-0
        "
      >
        <i class="fa-solid fa-circle-chevron-left fa-3x"></i>
      </button>

      <% @projects.each do |project| %>
        <div
          x-cloak
          x-transition
          x-show="activeSlide == <%= project.id %>"
          class=" w-full rounded-md bg-white p-8 shadow-lg md:hidden lg:block "
        >
          <% if project.photos.attached? %>
            <% project.photos.each do |photo| %>
              <%= image_tag photo, class:"h-72 w-full mb-4 rounded-lg object-cover object-center" %>
            <% end %>
          <% end %>
          <div class="-mx-2 mt-6 flex items-center">
            <%= image_tag 'https://images.unsplash.com/photo-1499470932971-a90681ce8530?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80',
            class:"mx-2 h-14 w-14 rounded-full object-cover" %>
            <div class="mx-2">
              <p class="text-skin-base text-xl font-semibold drop-shadow">
                <% if project.user.username? %>
                  <%= project.user.username %>
                <% else %>
                  Annonymous
                <% end %>
              </p>
              <p class="text-skin-base text-sm italic"><%= project.created_at.strftime("%d/%m/%Y") %></p>
            </div>
          </div>
        </div>
      <% end %>

      <button
        @click="activeSlide = activeSlide === slides.length ? 1 : activeSlide + 1"
        class="
          text-skin-base
          transition-colors
          duration-300
          hover:text-gray-400
          absolute
          right-0
          inset-y-0
        "
      >
        <i class="fa-solid fa-circle-chevron-right fa-3x"></i>
      </button>
    </div>
</section>
