<section class="bg-white w-full max-w-md">
  <div class="container flex flex-col items-center justify-center px-6 mx-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "w-full max-w-md" }) do |f| %>
    <h1 class="text-3xl font-semibold capitalize">Edit <%= resource_name.to_s.humanize %></h1>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="relative flex items-center mt-8">
        <span class="absolute">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>
        </span>
        <%= f.label :email, class: "hidden" %>
        <%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "block w-full py-3 text-gray-700 bg-white border rounded-md px-11 focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40", autocomplete: "email" %>
      </div>
      <div class="relative flex items-center mt-4">
        <span class="absolute">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
          </svg>
        </span>
        <%= f.label :username, class: "hidden" %><br />
        <%= f.text_field :username, placeholder: "Username", class:"block w-full px-10 py-3 text-gray-700 bg-white border rounded-md focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40", autocomplete: "username" %>
      </div>
      <div class="relative flex items-center mt-4">
        <span class="absolute">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
          </svg>
        </span>
        <%= f.label :password, class: "hidden" %>
        <%= f.password_field :password, placeholder: "Password", class:"block w-full px-10 py-3 text-gray-700 bg-white border rounded-md  focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40", autocomplete: "new-password" %>
      </div>
      <div class="relative flex items-center mt-4">
        <span class="absolute">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
          </svg>
        </span>
        <%= f.label :password_confirmation, class: "hidden" %><br />
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class:"block w-full px-10 py-3 text-gray-700 bg-white border rounded-md focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40", autocomplete: "new-password" %>
      </div>
      <div class="relative flex items-center mt-4">
        <span class="absolute">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
          </svg>
        </span>
        <%= f.label :current_password, class: "hidden" %><br />
        <%= f.password_field :current_password, placeholder: "Current password", class:"block w-full px-10 py-3 text-gray-700 bg-white border rounded-md focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40", autocomplete: "current_password" %>
      </div>
      <div class="mt-6">
        <%= f.submit "Update", class: "w-full btn m-0" %>
      </div>
    <% end %>
    <%= link_to "Back", :back, class: "mt-2" %>
  </div>
</section>
