<article id="<%= dom_id comment %>" class="card flex-col p-4">

  <div class="flex justify-between">
    <h3 class="mb-2 text-middle"><%= t 'commentcontent' %></h3>
    <p class="text-sm text-soft"><%= comment.created_at.strftime("%d/%m/%Y, at %I:%M%p") %></p>
  </div>
  <p class="text-lg text-right">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic consequuntur
    corrupti veniam iste aliquam. Sit pariatur nam nobis quasi autem non
    similique, velit, amet quo iste inventore, quas dignissimos necessitatibus.
    Harum provident eos enim architecto, corporis commodi atque, ad
    reprehenderit culpa laboriosam maiores modi eius mollitia sunt in autem
    placeat accusantium obcaecati debitis nemo? Illum quis rem atque in
    quisquam. Dolor nemo ex fuga? Aliquid sunt voluptates, inventore optio qui
    consequuntur suscipit aspernatur, nemo beatae autem eveniet, labore quae
    quos dolore similique nulla architecto porro exercitationem? Itaque porro
    consectetur dolore!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic consequuntur
    corrupti veniam iste aliquam. Sit pariatur nam nobis quasi autem non
    similique, velit, amet quo iste inventore, quas dignissimos necessitatibus.
    Harum provident eos enim architecto, corporis commodi atque, ad
    reprehenderit culpa laboriosam maiores modi eius mollitia sunt in autem
    placeat accusantium obcaecati debitis nemo? Illum quis rem atque in
    quisquam. Dolor nemo ex fuga? Aliquid sunt voluptates, inventore optio qui
    consequuntur suscipit aspernatur, nemo beatae autem eveniet, labore quae
    quos dolore similique nulla architecto porro exercitationem? Itaque porro
    consectetur dolore!
    <%= comment.content %></p>

  <p class="self-end text-middle">
    <% if comment.user.username? %>
      <%= comment.user.username %>
    <% else %>
      Annonymous
    <% end %>
  </p>
</article>
