<%= form_with(model: [@project, comment], class: "contents") do |form| %>
  <% if comment.errors.any? %>
    <div
      id="error_explanation"
      class="bg-inverse text-error px-3 py-2 font-medium rounded-lg mt-3"
    >
      <h2><%= pluralize(comment.errors.count, "error") %>
        prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="flex flex-col items-center mt-4 w-4/5">
    <%= form.label :content, class:"hidden" %>
    <%= form.text_area :content, rows:6, class: "form-field",placeholder: t('holdercomment') %>
    <%= form.hidden_field :project_id, value: @project.id %>
    <%= form.submit class: "btn btn-middle m-4" %>
  </section>
<% end %>
