<%if @plants == nil%>
  Sorry, couldn't find any plant, please try again.
<%else%>
  Results for: <%= @place %>
  <div class="flex">
    <% 10.times do%>
      <div class="box">
        <%=@plants.sample[:common_name]%><br>
        <%=@plants.sample[:scientific_name]%><br>
        <%=@plants.sample[:wiki]%><br>
        <%=@plants.sample[:picture_url]%><br>
      </div>
    <%end%>
    
  <%end%>
</div>

Do you want to create a project with such plants?
<div class="flex justify-between items-center">
  <%= link_to 'New project', new_project_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium", params:[@plants] %>
</div>
