<div id="<%= dom_id selected_plant %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= selected_plant.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Inaturalist:</strong>
    <%= selected_plant.inaturalist_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this selected plant", selected_plant, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this selected plant', edit_selected_plant_path(selected_plant), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
