<% unless @plant[:picture_url].nil?%>
<%= image_tag @plant[:picture_url], class: "h-72 w-full rounded-t-lg
object-cover object-center", alt: "A field photography of
#{@plant[:scientific_name]}" %>
<% end %>
<div
  class="
    text-skin-base
    flex
    w-full
    flex-col
    items-center
    justify-center
    px-6
    py-4
  "
>
  <h2 class="flex h-14 items-center text-center text-xl">
    <% if @plant[:common_name].nil? %>
      <%= @plant[:scientific_name] %>
    <% else %>
      <%= @plant[:common_name] %>
    <% end %>
  </h2>
  <p>-</p>
  <p class="font-semibold"><%= @plant[:scientific_name] %></p>
</div>
<%= link_to t('moreplant', plant: @plant[:scientific_name]), @plant[:wiki], target: :_blank, class:
"btn-muted text-center mt-0" %>
<% if current_user %>
  <div class="flex w-full items-center justify-center py-4">
    <%= button_to selected_plants_path,action: :create, params: {inaturalist_id:
  @plant[:id].to_i}, remote: :true do %>
      <i
        x-cloak
        @click="selected = true, selectedCount++"
        x-show="!selected && !(selectedCount >= 12) || selectedCount == 0"
        class="
          fa-solid
          fa-check
          fa-3x
          mx-12
          flex
          h-full
          w-12
          items-center
          justify-center
          rounded-md
          text-emerald-600
          hover:cursor-pointer
          hover:ring
        "
      ></i>
    <% end %>
    <%= button_to selected_plant_path(@plant), method: :delete, remote:
  :true do %>
      <i
        x-cloak
        @click="selected = false, selectedCount--"
        x-show="selected && selectedCount > 0"
        class="
          fa-solid
          fa-circle-check
          fa-3x
          flex
          h-full
          w-12
          items-center
          justify-center
          rounded-md
          text-emerald-600
          hover:cursor-pointer
          hover:ring
        "
      ></i>
    <% end %>
    <i
      x-cloak
      @click="eliminated = true"
      x-show="!selected && !(selectedCount >= 12) || selectedCount == 0"
      class="
        fa-solid
        fa-xmark
        fa-3x
        mx-12
        flex
        h-full
        w-12
        items-center
        justify-center
        rounded-md
        text-red-600/75
        hover:cursor-pointer
        hover:ring
      "
    ></i>
  </div>
<% end %>
