<section
  class="
    -mt-12
    flex
    w-full
    flex-col
    items-center
    bg-[url('https://images.unsplash.com/photo-1621371047525-f99f36b60b9d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80')]
    bg-cover
    bg-center
    p-8
  "
>
  <div class="h-5/6 max-w-xl rounded-lg bg-white/50 p-6 text-center">
    <h1 class="mb-2 text-white text-4xl">
      <%=t 'titlep'%>
    </h1>
    <br>
    <p
      class="

        font-medium
        tracking-tight
        text-base
        sm:text-lg
        md:text-xl
        text-gray-800
      "
    >
      <%=t 'subjectp' %>
    </p>
    <div class="m-8 text-center">
      <div class="w-full">
       <%= link_to t('newp'), new_project_path, class: "btn" %>
      </div>
</section>

<section class="flex flex-wrap justify-center my-8">
  <%= button_to t('mostancient'), projects_path, method: :get, params: {sort_by: "ancient"}, class:"btn rounded-3xl"%>
  <%= button_to t('mostrecent'), projects_path, method: :get, params: {sort_by: "recent"}, class:"btn rounded-3xl"%>
  <%= button_to t('mostlike'), projects_path, method: :get, params: {sort_by: "most_liked"}, class:"btn rounded-3xl"%>
  <%= button_to t('leastlike'), projects_path, method: :get, params: {sort_by: "least_liked"}, class:"btn rounded-3xl"%>
</section>

<section class="p-5 sm:p-10 grid grid-cols-1 md:grid-cols-2 gap-10 lg:grid-cols-3 h-min">
    <%= render @projects %>
</section>
