<section
  class="
    -mt-12
    flex
    w-full
    flex-col
    items-center
    bg-[url('https://images.unsplash.com/photo-1621371047525-f99f36b60b9d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80')]
    bg-cover
    bg-center
    p-8
  "
>
  <div class="h-5/6 max-w-xl rounded-lg bg-inverse/50 p-6 text-center">
    <h1 class="mb-2 text-inverse text-4xl">
      <%=t 'titlep'%>
    </h1>
    <br>
    <p
      class="

        font-medium
        tracking-tight
        text-base
        sm:text-lg
        md:text-xl
        text-neutral-light
      "
    >
      <%=t 'subjectp' %>
    </p>
    <div class="m-8 text-center">
      <div class="w-full">
       <%= link_to t('newp'), new_project_path, class: "btn btn-middle" %>
      </div>
</section>

<section class="flex flex-wrap justify-center mt-8 mx-4">
  <%= button_to t('mostancient'), projects_path, method: :get, params: {sort_by: "ancient"}, class:"btn btn-soft m-4"%>
  <%= button_to t('mostrecent'), projects_path, method: :get, params: {sort_by: "recent"}, class:"btn btn-soft m-4"%>
  <%= button_to t('mostlike'), projects_path, method: :get, params: {sort_by: "most_liked"}, class:"btn btn-soft m-4"%>
  <%= button_to t('leastlike'), projects_path, method: :get, params: {sort_by: "least_liked"}, class:"btn btn-soft m-4"%>
</section>

<section class="p-5 sm:p-10 grid grid-cols-1 md:grid-cols-2 gap-10 lg:grid-cols-3 h-min">
    <%= render @projects %>
</section>
<button id="to-top-button" title="Go To Top"
        class=" fixed z-90 bottom-8 right-8 border-0 w-12 h-12 rounded-full drop-shadow-md bg-soft text-white text-3xl font-bold" button x-cloak x-data="{scroll : false}" @scroll.window="document.documentElement.scrollTop > 20 ? scroll = true : scroll = false" x-show="scroll" @click="window.scrollTo({top: 0, behavior: 'smooth'})">&uarr;</button>
