<section class="w-full md:w-2/3 flex flex-col">
  <%= render @project %>
  <hr class="my-8">

  <div class="w-full flex flex-wrap justify-center text-center space-x-8">
    <% if @project.user == current_user %>
      <%= link_to t('modip'), edit_project_path(@project), class: "btn btn-inverse" %>
      <%= button_to t('updatenewbtn'), new_project_project_update_path(@project), method: :get, class: "btn btn-middle" %>
      <%= button_to t('projectdestroybtn'), project_path(@project), method: :delete, class: "link text-accent" %>
    <% else %>
      <%= link_to t('btnbackp'), projects_path, class: "btn" %>
      <%= button_to t('commentbtn'), new_project_comment_path(@project), method: :get, class: "btn btn-soft" %>
    <% end %>
  </div>

  <hr class="my-8">

  <% if @project_updates != nil %>
    <h1 class="mt-4 font-bold text-4xl text-center"><%=t 'updatep'%></h1>
    <%= render @project_updates %>
    <hr class="my-8">
  <% else %>
    <p>
      <%=t 'noupdatep'%></p>
  <% end %>
  <% if @comments != nil %>
    <h1 class="mt-4 font-bold text-4xl text-center"><%=t 'commentp'%></h1>
    <%= render @comments %>
    <hr class="my-8">
  <%else%>
    <p> <%=t 'nocommentp'%></p>
  <%end%>
</section>
