<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @project %>
    <h1>Updates</h1>
    <%= render @project_updates%>
    <h1>Comments</h1>
    <%= render @comments%>

    <div class="w-full flex justify-center">
      <%if @project.user == current_user%>
        <%= link_to 'Edit this project', edit_project_path(@project), class: "btn" %>
        <%= button_to 'Destroy this project', project_path(@project), method: :delete, class: "btn" %>
        <%= button_to 'Add an update', new_project_project_update_path(@project), method: :get, class: "btn" %>
      <%end%>
      <%= button_to 'Add a comment', new_project_comment_path(@project), method: :get, class: "btn" %>
      <%= link_to 'Back to projects', projects_path, class: "btn" %>
    </div>
  </div>
</div>

