<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <div class="bg-gray-100 rounded-lg">
      <%= render @project %>
    <h1>Updates</h1>
    <%= render @project_updates%>
    <h1>Comments</h1>
    <%= render @comments%>
    </div>

    <div class="w-full flex justify-center">
    <%if current_user%>
      <%if @project.user == current_user%>
        <%= link_to 'Edit this project', edit_project_path(@project), class: "btn" %>
        <%= button_to 'Destroy this project', project_path(@project), method: :delete, class: "btn-warning" %>
        <%= button_to 'Add an update', new_project_project_update_path(@project), method: :get, class: "btn" %>
        <%= link_to 'Back to projects', projects_path, class: "btn-muted" %>
      <%else%>
      <%= button_to 'Add a comment', new_project_comment_path(@project), method: :get, class: "btn" %>
      <%= link_to 'Back to projects', projects_path, class: "btn-muted" %>
      <%end%>
    <%else%>
      <%= link_to 'Back to projects', projects_path, class: "btn-muted" %>
      <%end%>
    </div>
  </div>
</div>
