<div class="lg:flex w-full">
  <div class="flex flex-col lg:w-full">
    <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 m-8">
      <div class="mb-4 flex items-center justify-between">
        <div>
          <h3 class="text-xl font-bold text-gray-900 mb-2">All Registered Users</h3>
          <span class="text-base font-normal text-gray-500">This is a list of all registered users</span>
        </div>
        <div class="flex-shrink-0">
          <%= link_to "View all", admin_users_path, class: "text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg p-2" %>
        </div>
      </div>
      <div class="flex flex-col mt-8">
        <div class="overflow-x-auto rounded-lg">
          <div class="align-middle inline-block min-w-full">
            <div class="shadow overflow-hidden sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      ID
                    </th>
                    <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Username
                    </th>
                    <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Email
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white">
                  <% @users.each do |user| %>
                  <tr>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                      <%= user.id %>
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                      <%= user.username %>
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                      <%= user.email %>
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                      <%= link_to 'Edit', root_path, class: "btn" %>
                      <%= button_to 'Delete', admin_user_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-warning" %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
