<footer
  class="

    w-full

    py-3
    sm:px-16
    flex
    flex-col
    items-center
    justify-evenly
    sm:flex-row
    sm:justify-between
    sm:items-center"
>
  <%= link_to "Prairify", root_path, class: "text-xl font-FjallaOne font-bold  drop-shadow-md px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform rounded-md lg:mt-0 " %>
  <p class="text-sm my-3">© Copyright 2022. All Rights Reserved.</p>
<%= link_to_unless_current "fr", locale: :fr, class: "btn-muted" %>
<%= link_to_unless_current "en", locale: :en, class: "btn-muted" %>
  <div class="flex">
    <%= link_to 'https://www.reddit.com/r/NoLawns/top/?t=all', target: :_blank, class: " px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform rounded-md lg:mt-0  drop-shadow-md" do %>
      <i class="w-5 h-5 fill-current fa-brands fa-reddit fa-lg drop-shadow-md"></i>
    <% end %>
    <%= link_to 'https://www.facebook.com/groups/foodnotlawns.official', target: :_blank, class: " px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform rounded-md lg:mt-0  drop-shadow-md" do %>
      <i class="w-5 h-5 fill-current fa-brands fa-facebook fa-lg drop-shadow-md"></i>
    <% end %>
    <%= link_to 'https://github.com/Pefington/prairify.me.git', target: :_blank, class: " px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform rounded-md lg:mt-0  drop-shadow-md" do %>
      <i class="w-5 h-5 fill-current fa-brands fa-github fa-lg drop-shadow-md"></i>
    <% end %>
  </div>
</footer>
