<footer
  x-data="{ locale: '<%= I18n.locale.to_s %>' }"
  class="
    bg-soft
    text-inverse
    w-full
    pb-4
    flex
    flex-col
    items-center
    justify-evenly
    "
>
  <%= link_to "Prairify.me", root_path, class: "text-xl font-FjallaOne drop-shadow-md hover:text-vivid mt-4" %>
  <div class="flex mt-2">
    <%= link_to 'https://www.reddit.com/r/NoLawns/top/?t=all', target: :_blank do %>
      <i class="w-5 h-5 fa-brands fa-reddit fa-lg drop-shadow-md mx-3 hover:text-vivid"></i>
    <% end %>
    <%= link_to 'https://www.facebook.com/groups/foodnotlawns.official', target: :_blank, class: "" do %>
      <i class="w-5 h-5 fa-brands fa-facebook fa-lg drop-shadow-md mx-3 hover:text-vivid"></i>
    <% end %>
    <%= link_to 'https://github.com/Pefington/prairify.me.git', target: :_blank, class: "" do %>
      <i class="w-5 h-5 fa-brands fa-github fa-lg drop-shadow-md mx-3 hover:text-vivid"></i>
    <% end %>
  </div>
  <div
    x-cloak
    x-show="locale === 'en'"
    @click="locale = 'fr'"
    transition
    class="link text-sm"
  >
    <%= link_to 'Site en Français', locale: 'fr' %>
  </div>
  <div
    x-cloak
    x-show="locale === 'fr'"
    @click="locale = 'en'"
    transition
    class="link text-sm"
  >
    <%= link_to 'Site in English', locale: 'en' %>
  </div>
</footer>
