<header
  x-data="{ largeOpen: false }"
  class="
    w-full
    bg-soft
    text-inverse
    p-4
    flex
    justify-evenly
    items-center
    h-max
    relative
    border-b-2
    border-solid
    border-middle
  "
>
  <%# Spacer %>
  <div></div>

  <%# Logo %>
  <%= link_to root_path, class: "w-8 z-20 sm:w-12 md:w-14 lg:w-16 xl:w-18" do %>
    <%= vite_image_tag 'images/logo.png' %>
  <% end %>

  <%# Prairify.me %>
  <%= link_to "Prairify.me", root_path, class: "font-FjallaOne text-2xl sm:text-3xl lg:text-4xl link z-20" %>

  <%# SM- NAV %>
  <nav x-data="{ smallOpen: false }" x-cloak class="lg:hidden">

    <%# SM- Hamburger Button %>
    <button
      x-cloak
      @keyup.space="smallOpen = !smallOpen"
      type="button"
      aria-label="toggle menu"
      class="
        link
        flex
        justify-center
        items-center
        lg:hidden
        w-8
        h-8
        p-1
        opacity-80
      "
    >
      <%# Hamburger Icon %>
      <i
        @click="smallOpen = true"
        x-show="!smallOpen"
        class="fa-solid fa-bars text-lg sm:text-xl md:text-2xl"
      >
      </i>
      <%# Close Icon %>
      <i
        x-cloak
        x-show="smallOpen"
        class="fa-solid fa-xmark text-lg sm:text-xl md:text-2xl"
      >
      </i>
    </button>

    <%# SM- Combined Links %>
    <section
      x-cloak
      :class="[smallOpen ? 'translate-x-0 opacity-100' : 'opacity-0 -translate-x-full']"
      class="
        flex
        flex-col
        items-center
        absolute
        top-[73px]
        sm:top-[80px]
        md:top-[88px]
        inset-x-0
        z-20
        bg-soft
        rounded-b-[4rem]
      "
    >
      <div
        @mousedown.outside="smallOpen = false"
        class="flex flex-col w-full max-w-sm p-8"
      >
        <%= link_to t('homebtn'), root_path, class: "btn btn-middle mb-4" %>
        <%= link_to t('teambtn'), team_path, class: "btn btn-middle mb-4" %>
        <%= link_to t('aboutbtn'), about_path, class: "btn btn-middle mb-4" %>
        <%= link_to t('contactbtn'), contact_path, class: "btn btn-middle" %>
        <% if user_signed_in? %>
          <%= link_to "Projects", projects_path, class: "btn btn-middle mt-4" %>
        <% end %>
        <article class="flex justify-end items-center my-8">
          <%= button_to search_index_path, method: :get, params: {search: 'geoloc'}, class: "mr-4 w-12 text-inverse hover:text-vivid focus:text-inverse focus:bg-vivid rounded-md p-1 hover:font-bold" do %>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
              />
            </svg>
          <% end %>
          <%= render "shared/search_bar" %>
        </article>
        <article class="flex flex-col items-end">
          <% if current_user %>
            <%= link_to "Admin", admin_root_path, class: "btn btn-middle mb-4 w-3/4" if current_user.admin? %>
            <%= link_to t('myprofilebtn'), profile_path, class: "btn btn-middle mb-4 w-3/4" %>
            <%= link_to t('favoritebtn'), favourites_path, class: "btn btn-middle mb-4 w-3/4" %>
            <%= button_to t('signoutbtn'), destroy_user_session_path, method: :delete, class: "btn btn-middle" %>
          <% else %>
            <%= link_to t('signinbtn'), user_session_path, class: "btn btn-middle mb-4 w-3/4" %>
            <%= link_to t('registerbtn'), new_user_registration_path, method: :get, class: "btn btn-middle w-3/4" %>
          <% end %>
        </article>
      </div>
    </section>
  </nav>

  <%# LG+ NAV %>
  <nav class="justify-between items-center z-20">

    <%# LG+ Links %>
    <section
      class="
        hidden
        lg:flex
        items-start
        justify-center
        xl:space-x-8
        text-xl
        z-20
      "
    >
      <%= link_to t('homebtn'), root_path, class: "link drop-shadow-md" %>
      <%= link_to t('teambtn'), team_path, class: "link drop-shadow-md" %>
      <%= link_to t('aboutbtn'), about_path, class: "link drop-shadow-md" %>
      <%= link_to t('contactbtn'), contact_path, class: "link drop-shadow-md" %>
      <% if user_signed_in? %>
        <%= link_to "Projects", projects_path, class: "link drop-shadow-md" %>
      <% end %>
    </section>
  </nav>

  <%# LG+ Search Bar %>
  <section class="hidden lg:flex items-center z-20">
    <%= button_to search_index_path, method: :get, params: {search: 'geoloc'}, class: "link p-1" do %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-9 h-9 text-inverse hover:text-vivid"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
        />
      </svg>
    <% end %>
    <%= render "shared/search_bar" %>

    <%# LG+ Profile Button %>
    <button
      @click="largeOpen = !largeOpen"
      type="button"
      aria-label="toggle profile modal"
      class="link z-50"
    >
      <i class="fa-solid fa-user fa-2x"></i>
    </button>
  </section>

  <%# LG+ Profile Items %>
  <section
    x-cloak
    x-show="largeOpen"
    @click.outside="largeOpen = false"
    x-transition:enter="transition duration-300 ease-out"
    x-transition:enter-start="-translate-x-full opacity-0"
    x-transition:enter-end="translate-x-0 opacity-100"
    x-transition:leave="-transition duration-150 ease-in"
    x-transition:leave-start="translate-x-0 opacity-100"
    x-transition:leave-end="-translate-x-full opacity-0"
    class="
      justify-center
      items-center
      absolute
      top-[96px]
      inset-x-0
      hidden
      lg:flex
      flex-col
      z-20
      pb-8
      rounded-b-full
      bg-soft
      border-b-2
      border-solid
      border-middle
    "
  >
    <% if current_user %>
      <h3 class="mt-8 text-inverse underline text-xl">
        <%= current_user.email %>
        <% if current_user.username %>
          <%= current_user.username %>
        <% end %>
      </h3>
    <% end %>
    <div class="flex w-full justify-center space-x-6 my-4">
      <% if current_user %>
        <%= link_to "Admin", admin_root_path, class: "btn btn-middle w-48" if current_user.admin? %>
        <%= link_to t('myprofilebtn'), profile_path, class: "btn btn-middle w-48" %>
        <%= link_to t('favoritebtn'), favourites_path, class: "btn btn-middle w-48" %>
        <%= button_to t('signoutbtn'), destroy_user_session_path, method: :delete, class: "btn btn-middle w-48" %>
      <% else %>
        <%= link_to t('signinbtn'), user_session_path, class: "btn btn-middle w-48" %>
        <%= link_to t('registerbtn'), new_user_registration_path, method: :get, class: "btn btn-middle w-48" %>
      <% end %>
    </div>
  </section>
</header>
