<header
  x-data="{ locale: '<%= I18n.locale.to_s %>' }"
  class="w-full bg-skin-back-nav text-skin-inverted relative"
>
  <div
    x-cloak
    x-show="locale === 'en'"
    @click="locale = 'fr'"
    transition
    class="
      absolute
      opacity-50
      hover:opacity-100
      left-4
      top-8
      z-50
      cursor-pointer
      transition-opacity
      duration-300
    "
  >
    <%= link_to locale: 'fr' do %>
      <%= image_tag "https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f1eb-1f1f7.svg",
    alt: "Passer au Français",
    class: "h-6",
    scrset: "https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f1eb-1f1f7.svg 1x,
    https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f1eb-1f1f7.svg 2x",
    decoding: "async" %>
    <% end %>
  </div>

  <div
    x-cloak
    x-show="locale === 'fr'"
    @click="locale = 'en'"
    transition
    class="
      absolute
      opacity-50
      hover:opacity-100
      left-4
      top-8
      z-50
      cursor-pointer
      transition-opacity
      duration-300
    "
  >
    <%= link_to locale: 'en' do %>
      <%= image_tag "https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f1ec-1f1e7.svg",
    alt: "Switch to English",
    class: "h-6",
    scrset: "https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f1ec-1f1e7.svg 1x,
    https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f1ec-1f1e7.svg 2x",
    decoding: "async" %>
    <% end %>
  </div>

  <nav x-data="{ isOpen: false }" class="relative bg-skin-back-nav">
    <div class="container px-6 py-4 mx-auto">
      <div class="lg:flex lg:items-center lg:justify-between">
        <div
          class="
            flex
            items-center
            justify-between
            bg-skin-back-nav
            text-skin-inverted
          "
        >
          <div>
            <%= link_to root_path do %>
              <%= vite_image_tag 'images/logo.png', class: "mx-4 h-16" %>
            <% end %>
          </div>

          <div class="text-xl text-skin-inverted hover:text-gray-700">
            <%= link_to "Prairify", root_path, class: "font-FjallaOne text-2xl transition-colors duration-300 transform lg:text-3xl rounded-md px-3 py-2 focus:bg-skin-button-accent-hover drop-shadow-md" %>

          </div>

          <div class="flex lg:hidden">
            <button
              x-cloak
              @click="isOpen = !isOpen"
              type="button"
              class="
                focus:outline-none
                rounded-md
                px-3
                py-2
                focus:bg-skin-button-accent-hover
              "
              aria-label="toggle menu"
            >
              <svg
                x-show="!isOpen"
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16"/>
              </svg>
              <svg
                x-show="isOpen"
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
              </svg>
            </button>
          </div>
        </div>

        <div
          x-cloak
          :class="[isOpen ? 'translate-x-0 opacity-100 ' : 'opacity-0 -translate-x-full']"
          class="
            bg-skin-back-nav
            text-skin-inverted
            absolute
            inset-x-0
            z-20
            w-full
            px-6
            py-4
            transition-all
            duration-300
            ease-in-out
            lg:mt-0
            lg:p-0
            lg:top-0
            lg:relative
            lg:bg-transparent
            lg:w-auto
            lg:opacity-100
            lg:translate-x-0
            lg:flex
            lg:items-center
          "
        >
          <div class="flex flex-col -mx-6 lg:flex-row lg:items-center lg:mx-8">
            <%= link_to "Home", root_path, class: "px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform rounded-md lg:mt-0 focus:bg-skin-button-accent-hover lg:hover:text-gray-700 drop-shadow-md" %>
            <%= link_to "Team", team_path, class: "px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform rounded-md lg:mt-0 focus:bg-skin-button-accent-hover lg:hover:text-gray-700 drop-shadow-md" %>
            <%= link_to "About", about_path, class: "px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform rounded-md lg:mt-0 focus:bg-skin-button-accent-hover lg:hover:text-gray-700 drop-shadow-md" %>
            <%= link_to "Contact", contact_path, class: "px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform rounded-md lg:mt-0 focus:bg-skin-button-accent-hover lg:hover:text-gray-700 drop-shadow-md" %>
            <% if user_signed_in? %>
              <%= link_to "Projects", projects_path, class: "px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform rounded-md lg:mt-0 focus:bg-skin-button-accent-hover lg:hover:text-gray-700 drop-shadow-md" %>
            <% end %>
            <div class="flex flex-row">
              <%= button_to search_index_path, method: :get, params: {search: 'geoloc'} do %>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-9 h-9 mx-4 mt-3 hover:text-gray-700 drop-shadow-md"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
                  />
                </svg>
              <% end %>
            </div>
            <%= render "shared/search_bar" %>
          </div>

          <div x-data="{isOpen: false}" class="relative">
            <div class="lg:pl-6 my-6 lg:my-0">
              <button
                x-on:click="isOpen = !isOpen"
                type="button"
                class="
                  w-full
                  flex
                  items-center
                  focus:outline-none
                  focus:bg-skin-button-accent-hover
                  rounded-md
                  px-2
                  py-3
                "
                aria-label="toggle profile dropdown"
              >
                <div class="w-8 h-8 overflow-hidden border-2 rounded-full">
                  <img
                    src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                    class="object-cover w-full h-full"
                    alt="avatar"
                  >
                </div>
                <h3 class="mx-2 lg:hidden text-skin-inverted lg:hover:text-gray-700">NOM DE PROFIL</h3>
              </button>
            </div>

            <div
              x-cloak
              x-on:click.outside="isOpen = false"
              x-show="isOpen"
              class="
                bg-skin-back-nav
                z-10
                absolute
                right-0
                mt-6
                w-48
                origin-top-right
                rounded-md
                py-1
                shadow-lg
                ring-1
                ring-opacity-5
                focus:outline-none
              "
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu-button"
              tabindex="-1"
            >
              <% if current_user %>
                <%= link_to "Admin", admin_root_path, class: "block px-4 py-2 text-sm" if current_user.admin? %>
                <%= link_to "My profile", profile_path, class: "block px-4 py-2 text-sm hover:text-gray-700 focus:bg-skin-button-accent-hover rounded-md" %>
                <%= link_to "Favourites", favourites_path, class: "block px-4 py-2 text-sm hover:text-gray-700 focus:bg-skin-button-accent-hover rounded-md" %>
                <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-sm hover:text-gray-700 focus:bg-skin-button-accent-hover rounded-md" %>
              <% else %>
                <%= link_to "Login", user_session_path, class: "block px-4 py-2 text-sm hover:text-gray-700 focus:bg-skin-button-accent-hover rounded-md" %>
                <%= link_to "Register", new_user_registration_path, method: :get, class: "block px-4 py-2 text-sm hover:text-gray-700 focus:bg-skin-button-accent-hover rounded-md" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
