<%= image_tag @plant[:picture_url],
    class: "h-72 w-full rounded-t-lg object-cover object-center",
    alt: "A close up photography of #{@plant[:scientific_name]}" %>
<div
  class="
    text-skin-base
    flex
    w-full
    flex-col
    items-center
    justify-center
    px-6
    py-4
  "
>
  <h2 class="flex h-14 items-center text-center text-xl">
    <%= @plant[:common_name] %>
  </h2>
  <p>-</p>
  <p class="font-semibold"><%= @plant[:scientific_name] %></p>
</div>
<%= link_to "More about #{@plant[:scientific_name]}", @plant[:wiki], class:
      "btn-muted text-center mt-0" %>
<div class="mb-4 flex w-full items-center justify-evenly sm:py-4">
  <% if current_user %>

    <%= link_to  do %>
      <i
        @click=""
        class="
          fa-solid
          fa-check
          fa-3x
          flex
          h-full
          w-12
          items-center
          justify-center
          rounded-md
          text-green-600
          hover:cursor-pointer
          hover:ring
        "
      ></i>
    <% end %>
    <i
      @click="shown = false"
      class="
        fa-solid
        fa-xmark
        fa-3x
        flex
        h-full
        w-12
        items-center
        justify-center
        rounded-md
        text-red-600/75
        hover:cursor-pointer
        hover:ring
      "
    ></i>

  <% end %>

</div>
