<!DOCTYPE html>
<html>
  <head>
    <title>prairify.me</title>
    <link
      rel="icon"
      type="image/png"
      href="<%= vite_asset_path 'images/logo.png' %>"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e05ffa89c7.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Fjalla+One&display=swap", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>
  <body
    class="
      flex
      flex-col
      items-center
      h-full
      min-h-screen
      bg-cyan-100
      sm:bg-rose-100
      md:bg-cyan-100
      lg:bg-rose-100
      xl:bg-cyan-100
    "
  >
    <%= render 'layouts/navbar' %>
    <%= render 'shared/flashes' %>
    <main class="flex flex-col flex-1 items-center w-full pt-12 pb-16">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
