<!DOCTYPE html>
<html>
  <head>
    <title>prairify.me</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# https://fontawesome.com/kits/e05ffa89c7/use %>
    <script src="https://kit.fontawesome.com/e05ffa89c7.js" crossorigin="anonymous"></script>

    <%# https://tailwindcss.com/docs/editor-setup %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%# https://alpinejs.dev/start-here %>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <style>[x-cloak] {display: none;}</style>

    <%# https://vite-ruby.netlify.app/guide/rails %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>

  </head>
  <body class="flex flex-col h-screen items-center">
    <%= render 'shared/flashes' %>
    <% if current_user %>
      <%= button_to  "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", user_session_path, class: "link" %>
      <%= link_to "Register", new_user_registration_path, class: "link" %>
    <% end %>
    <main class="flex flex-col flex-1 items-center w-full">
      <%= render 'layouts/search_bar' %>
      <%= yield %>
    </main>
  </body>
</html>
